NODE_ENV=development
PORT=3000
SESSION_SECRET=
APPLICATIONINSIGHTS_CONNECTION_STRING=
APIM_BASE_URL=
APIM_PRESENTER_KEY=
MCP_WEATHER_KEY=
ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_REDIRECT_URI=
ENTRA_SCOPES=
