{% extends "layouts/main.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
  <p class="govuk-body">Sign-in for the governed model scenarios uses Azure App Service Authentication, which only runs once this app is deployed behind Azure App Service.</p>
  <p class="govuk-body">There is no local bypass for this: protected pages can only be exercised once the app is deployed and running behind the platform's authentication.</p>
{% endblock %}
