{% extends "layouts/main.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ message }}</h1>
  <p class="govuk-body">{{ details }}</p>
  <p class="govuk-body"><a class="govuk-link" href="/">Go to the service homepage</a></p>
{% endblock %}
